@import url('../../base-style.less');

	.day {
			width: calc(100% / 3.5);
			background-color: @primary;
			height: 250px;
			min-width: 200px;
			margin-right: 5px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

		h5 {
			font-size: 2rem;
			font-family: cyne;
			margin: 0;
		}
	}

	.svg {
		width: 70px;
		height: 70px;
	}


