@import url('./base-style.less');

.container {
 width: 50%;
 margin: 2cm auto;
}

.cities-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	margin: 0 auto;

	button {
		background-color: transparent;
		border: none;
		font-size: 2.5rem;
		color: @darkGray;
		cursor: pointer;
		text-transform: uppercase;
		font-family: cyne;
	}

	button[data-active=true] {
		color: @blue;
		font-family: baseFont;
		font-weight: bold;
		font-size: 2.8rem;
	}
}

.report-summary {
	margin-top: 3em;
	padding: 6px;
	background-color: @white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.report-summary-inner-wrapper {
	background-color: @primary;
	align-items: center;
	display: flex;
	flex-direction: column;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 2em 0 4em 0;

	h1 {
		font-size: 3rem;
		font-family: cyne;
		margin: 0;
	}
}

.temperature-container {
	display: flex;
	align-items: center;
	
	.svg {
		height: 160px;
		width: 160px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 20px;
		margin-top: 10px;
	}

	.clouds {
		font-size: 2rem;
		font-family: cyne;
		margin: -30px 0;
	}

}

.temperature-per-day {
	display: flex;
	justify-content: center;
	overflow-x: scroll;
	align-items: center;
	margin-top: 8px;
}

@media @phone {
	.container {
		width: 90%;
	}

	.temperature-per-day {
		justify-content: flex-start;
		
	}

	.temperature-container {
		.svg {
			height: 120px;
			width: 120px;
		}
	}

}

@media @tablet {
	.cities-wrapper {
		flex-direction: column !important;
	}
}
