
@primary: #eef6fb;
@darkGray: #57575d;
@black: #423f3f;
@blue: #5fb0e8;
@lightGrey: #9fa3a9;
@white: #FFFFFF;
@red: red;

@font-face {
    font-family: 'baseFont';
    src: url('./Assets/fonts/Teko-Medium.ttf') format('truetype'),
        url('./Assets/fonts/Teko-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'cyne';
    src: url('./Assets/fonts/Rajdhani-Light.ttf') format('truetype'),
        url('./Assets/fonts/Rajdhani-Light.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@desktop:   ~'only screen and (min-width: 960px) and (max-width: 1199px)';
@tablet:    ~'only screen and (max-width: 900px)';
@phone:    ~'only screen and (max-width: 1300px)';

html  {
    background-color: @primary;
    height: 100vh;
}
