@import url('../../base-style.less');

.temp-clouds {

	position: relative;

	p {

		&.cloud-large {
			font-size: 7.3em;
			color: @black;
			margin: 10px 0 0;
			font-family: baseFont;
			position: relative;
		}

		&.cloud-small {
			font-size: 3.5em;
			color: @black;
			margin: 5px 0 0;
			font-family: baseFont;
		}
		sup {
			position: absolute;
			font-family: baseFont;
			
			&.large {
				font-size: 4rem;
				top: 1%;
				right: -25%;
			}

			&.small {
				font-size: 2rem;
				top: 10%;
				right: -20px;
			}
		}
	}
}

